body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1530px !important;
  }
}

.app-container {
  .header-container {
    .btn-login {
      height: 40px;
      margin-right: 15px;
      border-radius: 5px;
      padding: 0px 15px;
      border: 1px solid #535353;
    }
    .btn-signup {
      height: 40px;
      margin-right: 15px;
      border-radius: 5px;
      padding: 0px 15px;
      border: 1px solid #535353;
      background: #535353;
      color: white;
      &:hover {
        background: black;
      }
    }
    .navbar {
      margin-top: 10px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: #1877f2;
        }
      }
    }
  }
  .homepage-container {
    .homepage-content {
      position: relative;
      padding: 140px;
      margin: 0 -60px;
      width: 55%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .homepage-title {
        font-size: 60px;
        font-family: cursive;
        font-weight: 600;
      }
      .homepage-description {
        font-size: 20px;
        width: 80%;
      }
      .homepage-button {
        button {
          margin: 10px 0;
          height: 50px;
          padding: 10px 30px;
          border-radius: 5px;
          border: 1px solid #535353;
          background: #535353;
          color: white;
          &:hover {
            background: black;
          }
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
